/**
 * (c) dbs-reports
 */


.address-fields .field-box {
	width: 200px;
	margin-right: 4px;
	margin-bottom:0px;
}

.address-fields .field-box input { 
	width: 100%;
}

.address-fields .alert-msg { 
	margin-left:0px;
}

img.avatar {
  float: left;
  margin-right: 14px;
  max-width: 100px;
  margin-top:32px;	
}

