/**
 * (c) dbs-reports
 */


body {margin: 0; padding:0; text-align: center; background: #cc0033;}
img, ul, ol, dl, dt, dd, p, blockquote, div, form, fieldset, legend, input, button, h1, h2, h3, h4, th, td, pre {padding: 0; margin: 0; border: 0;}
table {border-collapse: collapse;}


